form{
    background-color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    max-width: 300px;
    margin: auto;
    padding: 25px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.24);

}

body{
    background-color: rgb(234, 234, 234);
}
h1{
    color: rgb(7, 189, 249);
}
#input{
    width: 50%;
    margin-bottom: 15px;
    border: 2px solid rgba(0, 0, 0, 0.518);
    height: 20px;
    text-align: center;
    font-size: 1.5em;
}
label{
    font-weight: bold;
    font-size: 1.2em;
}
button{
    background-color: rgb(255, 59, 59);
    color: aliceblue;
    padding: 5px 10px;
    font-size: 1.2em;
    border: none;
    margin-top: 10px;
    font-weight: 700;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: rgb(196, 0, 0);
    cursor: pointer;
}