body{
    font-family: sans-serif;
    text-align: center;
}
h1{
    color: rgb(31, 31, 195);
}
button{
    background-color: rgb(81, 165, 255);
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
button:hover{
    background-color: rgb(43, 139, 242);
}
button:active{
    background-color: rgba(43, 139, 242, 0.721);
}
input{
    text-align: center;
    font-weight: 700;
    font-size: 1.2rem;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}